/* General */
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Almarai:wght@300;400;700;800&family=Roboto:ital,wght@1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}
/* ***************************************************************************************************** */
/* Header */

/* ************************************************************************************************** */
/* hero section */
.hero {
  height: 100vh;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  position: relative;
}
.hero::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 10;
  background: linear-gradient(to bottom, #000000 -6%, rgba(0, 0, 0, 0) 20%);
}
.swiper-slide.hero-background--1 {
  display: flex;
  justify-content: center;
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
}
.swiper-slide.hero-background--1 img,
.swiper-slide.hero-background--2 img,
.swiper-slide.hero-background--3 img {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
}

.swiper-slide.hero-background--2 {
  display: flex;
  justify-content: center;
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
}
.swiper-slide.hero-background--3 {
  display: flex;
  justify-content: center;
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
}
.restaurant-content-container {
  height: 100vh;
  width: 545px;
  background: #005470;
  z-index: 55;
  position: absolute;
  top: 0;
  right: 0;
}
.pattern {
  position: absolute;
  bottom: 173px;
  right: 140px;
  z-index: 9999;
  height: 50px;
  width: 50px;
  color: #fff;
}
.logo {
  margin-top: 180px;
  margin-left: 50px;
}
.logo-img {
  height: 70px;
}
.home-paragraph {
  height: 20%;
  overflow-y: scroll;
  font-size: 18px;
  color: #fff;
  margin: 50px;
}
.home-actions {
  position: relative;
}
.home-actions a {
  position: absolute;
  right: 50px;
  text-decoration: none;
  color: #fff;

  font-size: 20px;
}
.features-container {
  position: absolute;

  left: 50%;
  top: 65%;
  min-width: 70%;
  /* transform: translateX(-50%) !important; */
  z-index: 66;
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.features-card {
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(91, 102, 112, 1)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
  min-width: 50%;
  padding: 20px;

  height: 175px;
}
.feature-image-container {
  margin-top: -50px;
}
.feature-image-container img {
  height: 180px;
}
.feature-title {
  color: #fff;
  font-size: 18px;
  position: relative;
  margin-left: 20px;
}
.feature-title::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 75%;
  height: 2px;
  width: 120px;
  background: #fff;
}
.feature-text {
  font-size: 16px;
  font-weight: light;
  margin-left: 20px;
  color: #fff;
}
.feature-action {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.feature-action a {
  text-decoration: none;
  color: #fff;
}
.feature-action a:after,
.home-actions a:after,
.story-actions a:after {
  content: "";
  position: absolute;
  background: #fff;
  height: 1px;
  width: 100%;

  transform: scaleX(1);
  left: 0;
  bottom: -3px;
  transition: all 0.3s ease-in-out;
}
.feature-action a:hover:after,
.home-actions a:hover:after,
.story-actions a:hover:after {
  transform: scaleX(0);
}
.feature-action a:hover {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: #555;
  border-radius: 555px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 555px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
/* ************************************************************************************************ *
/* STORY */
.story {
  /* height: 100vh;
  background-image: url("https://alhallabrestaurant.com/wp-content/themes/twentytwenty-child/htmls/assets/images/our-story.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10; */
}

.story-background {
  display: flex;
  justify-content: center;
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
}
.story {
  position: relative;
}
.story::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, #000000 -6%, rgba(0, 0, 0, 0) 20%);

  z-index: 9;
}
.story-content-container {
  height: 100vh;
  width: 670px;
  background: #8d7288;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.story-heading {
  font-family: "Allura";
  font-size: 72px;
  margin-top: 150px;
  color: #fff;
  margin-left: 50px;
}
.story-paragraph {
  height: 50%;
  overflow-y: scroll;
  font-size: 18px;
  color: #fff;
  margin: 50px;
}
.story-actions {
  position: relative;
}
.story-actions a {
  position: absolute;
  right: 50px;
  text-decoration: none;
  color: #fff;

  font-size: 20px;
}
.pattern--2 {
  position: absolute;

  bottom: 0;
  right: 0;
  width: 670px;
  z-index: -1;
  color: #fff;
}
/* ************************************************************************************************ */
/* MENU */
.menu {
  height: 100vh;
  background: url("https://alhallabrestaurant.com/wp-content/themes/twentytwenty-child/htmls/assets/images/mobile-background.jpg") !important;

  position: relative;
}
.menu-heading {
  padding-top: 200px;

  font-family: "Allura";
  text-align: center;
  font-weight: 500;
  font-size: 72px;
  color: #5b6670;
}
.background-dish {
  position: absolute;
  right: 20px;
  top: 110px;
}
.tab-content {
  margin-right: 30px;
}
.tab-menu {
  list-style: none;
  white-space: nowrap;
  padding-left: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #5b6670cc;
  overflow-x: scroll;
}
.tab-menu::-webkit-scrollbar {
  display: none;
}
.tab-btn {
  display: inline-block;
  margin-right: 45px;
  font-size: 14px;
  font-color: #5b6670cc;
  font-weight: 500;
  transition: all 0.3s;
  scroll-behavior: unset;
}

.tab-btn:hover,
.tab-btn.active {
  color: #ca8342;
  cursor: pointer;
  position: relative;
}

.tab-btn:after,
.tab-btn.active:after {
  content: "";
  position: absolute;
  background: #ca8342;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  left: 0;
  bottom: -21px;
  transition: all 0.3s ease-in-out;
}
.tab-btn:hover:after {
  transform: scaleX(1);
}

.tab {
  transform: translateX(25px);
  content-visibility: hidden;
}
.tab.active {
  transform: translateX(0);
  content-visibility: visible;
}

.image-container {
  height: 50vh;

  width: 30vw !important;
}
.menu-image-banner {
  height: 100%;
  width: 100%;
}
.menu-items-container {
  height: 50vh;
  transition: all 0.3s;
  overflow-y: scroll;
}

.menu-items-container::-webkit-scrollbar {
  width: 2px;
  margin-right: 20px;
}

.menu-items-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.menu-items-container::-webkit-scrollbar-thumb {
  background-color: #888;
}
.menu-items-container ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-color: #5b6670;
}
.menu-items-container ul li {
  break-inside: avoid;
  page-break-inside: avoid;

  margin-bottom: 15px;
  list-style: none;
}
.item-name {
  font-size: 16px;
  font-weight: 500;
}
.item-details {
  font-size: 14px;
  font-weight: 300;
}

/* ************************************************************************************************ */

.header {
  position: fixed;
  padding: 40px 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;

  align-items: center;
  transition: all 0.5s;
}
.header.scrolled {
}
.scrolled a {
  color: #005470;
}
.scrolled .number-container a span {
  color: #005470;
}
.scrolled .main-nav-link.actions {
  border: 2px solid #005470;
}
.logo-dark {
  display: none;
}
.scrolled .logo-dark {
  display: block;
}
.scrolled .logo-light {
  display: none;
}
.nav-logo {
  width: 100px;
  height: 110px;
  margin-left: 20px;
}
.menu-icon {
  width: 30px;
  height: 16px;
  cursor: pointer;
  position: relative;
}
.menu-icon span {
  background: #fff;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
.scrolled .menu-icon span {
  background: #005470;
}
.menu-icon span:first-child {
  top: 0;
}
.menu-icon span:nth-child(2) {
  top: 10px;
}
.menu-icon span:last-child {
  top: 20px;
}

.btn-open span:nth-child(2) {
  opacity: 0;
}

.btn-open span:first-child {
  background: #000;
  top: 6px;
  transform: rotate(45deg);
}
.btn-open span:last-child {
  background: #000;
  top: 6px;
  transform: rotate(-45deg);
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 45px;
  list-style: none;
}

.main-nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.main-nav-link.actions {
  border: 2px solid #fff;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
.main-nav-link.actions:hover {
  background: #fff;
  color: #005470;
  font-size: 16px;
}
.number-container {
  position: relative;
}
.number-container a {
  text-decoration: none;
}
.number {
  font-size: 35px;
  color: #fff;
}
.number-details {
  position: absolute;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  top: -9px;
  left: 60px;
}
.hallab {
  letter-spacing: 2px;
}
.number-space {
  letter-spacing: normal;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile {
  display: none;
}
.copyright {
  display: none;
}
.social-media-container {
  display: none;
}
.main-nav-link.underlinez {
  position: relative;
}
.main-nav-link.underlinez:after {
  content: "";
  position: absolute;
  background: #fff;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  left: 0;
  bottom: -3px;
  transition: all 0.3s ease-in-out;
}

.main-nav-link.underlinez:hover:after {
  transform: scaleX(1);
}

@media only screen and (max-width: 1470px) {
  .main-nav-list {
    gap: 30px;
  }
}

@media only screen and (max-width: 1370px) {
  .mobile {
    display: block;
  }
  .btn-mobile-nav {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
  }
  .number-container {
    position: absolute;
    top: 20px;
  }
  .main-nav {
    background: url("https://alhallabrestaurant.com/wp-content/themes/twentytwenty-child/htmls/assets/images/mobile-background.jpg") !important;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .mobile {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
  }
  .mobile .number-details {
    top: 11px;
  }
  .number-container.mobile {
    top: 22px;
    right: 180px;
  }
  .nav-open .number-container {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .nav-open .main-nav-link.actions {
    color: #5b6670;
    position: static;
  }
  .nav-open .main-nav-link.actions.reserve {
    border: 2px solid #5b6670;
  }
  .nav-open .main-nav-link.actions.order {
    border: 2px solid #5b6670;
  }
  .nav-open .number,
  .nav-open .number-details {
    color: #5b6670;
  }
  .number-container .number-details {
    top: 11px;
  }
  .nav-open .main-nav-link {
    color: #5b6670;
  }
  .main-nav-link.actions {
    position: absolute;
    top: 115px;
    right: 20px;
    font-size: 12px;
    padding-inline: 40px;
  }

  .nav-open .main-nav-link.actions.mobile {
    display: none;
  }

  .nav-open .social-media-container {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100px;
  }
  .social-media-container::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 350px;
    background: #5b6670;
    left: -100px;
    top: 20px;
  }
  .social-media-container li a {
    color: #5b6670;

    font-size: 30px;
    position: absolute;
  }
  .nav-open .copyright {
    display: block;
    color: #5b6670;
    position: absolute;
    bottom: 5px;
  }
}

@media only screen and (max-width: 990px) {
  .hero {
    height: 120vh;
  }
  .swiper {
    height: 70vh;
  }
  .restaurant-content-container {
    width: 100%;
    background: #005470;
    z-index: 55;
    position: static;
    height: 50vh;
  }
  .home-paragraph {
    height: 50%;
    overflow-y: hidden;
    font-size: 14px;
    margin: 30px 50px 0 50px;
  }
  .home-actions a {
    top: -55px;
    font-size: 16px;
  }
  .logo {
    margin-top: 0;
    padding-top: 60px;
  }
  .features-container {
    top: 60%;
  }
  .features-card {
    min-width: 400px;
    height: 175px;
  }
  .story-content-container {
    width: 100%;
    height: 80vh;
    position: static;
  }
  .story-heading {
    padding-top: 50px;
    margin-top: 0;
  }
  .main-nav-link.actions.mobile {
    display: none;
  }
  .image-container {
    display: none;
  }
  .background-dish {
    display: none;
  }
  .hidden,
  .hidden-1,
  .hidden-2 {
    transition: none !important;
  }
  .features-container {
    top: 42%;
    transform: scale(0.9);
  }
}
@media only screen and (max-width: 770px) {
  .features-container {
    top: 16%;
    transform: scale(0.9);
  }
  .cards-container {
    flex-direction: column;
    gap: 50px;
  }

  .features-card {
    height: 175px;
  }
}

@media only screen and (max-width: 600px) {
  .restaurant-content-container {
    height: 52vh;
  }

  .home-actions a {
    top: -30px;
  }
  .nav-logo {
    width: 75px;
    height: 82.5px;
    margin-left: 20px;
  }
  .story-heading {
    font-size: 55px;
  }
  .copyright {
    font-size: 10px;
  }
  .menu-items-container ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .story-background {
    height: 40vh !important;
    object-fit: cover !important;
  }
  .features-container {
    top: 22%;
    transform: scale(0.9);
  }
  .cards-container {
    flex-direction: column;
    gap: 50px;
  }

  .features-card {
    height: 160px;
    font-size: ;
  }
  .features-card {
    height: 150px;
  }
  .feature-title {
    font-size: 16px;
  }
  .feature-text {
    font-size: 14px;
  }

  .feature-image-container {
    margin-top: -50px;
  }
  .feature-image-container img {
    height: 150px;
  }
}
@media only screen and (max-width: 425px) {
  .restaurant-content-container {
    height: 60vh;
  }

  .home-actions a {
    top: -50px;
  }
  .copyright {
    font-size: 8px;
  }
}

.test {
  background: red;
  width: 50%;
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1.5s;
}

.show {
  filter: blur(0px);
  opacity: 1;
  transform: translateX(0);
}

.hidden-1 {
  opacity: 0;
  filter: blur(5px);
  transform: translate(-50%, 100%);

  transition: all 1.5s;
  transition-delay: 1.5s;
}

.show-1 {
  filter: blur(0px);
  opacity: 1;
  transform: translateX(-50%);
}

.hidden-2 {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);

  transition: all 1.5s ease-in-out;
}

.show-2 {
  filter: blur(0px);

  opacity: 1;
  transform: translateX(0);
}

.item:nth-child(2) {
  transition-delay: 200ms;
}
.item:nth-child(3) {
  transition-delay: 400ms;
}
.item:nth-child(4) {
  transition-delay: 600ms;
}
.item:nth-child(5) {
  transition-delay: 800ms;
}
.item:nth-child(6) {
  transition-delay: 1000ms;
}

.item:nth-child(7) {
  transition-delay: 1200ms;
}
.item:nth-child(8) {
  transition-delay: 1400ms;
}
.item:nth-child(9) {
  transition-delay: 1600ms;
}
.item:nth-child(10) {
  transition-delay: 1800ms;
}
.item:nth-child(11) {
  transition-delay: 2000ms;
}

.item:nth-child(12) {
  transition-delay: 2200ms;
}
.item:nth-child(13) {
  transition-delay: 2400ms;
}
.item:nth-child(14) {
  transition-delay: 2600ms;
}
.item:nth-child(15) {
  transition-delay: 2800ms;
}
.item:nth-child(16) {
  transition-delay: 3000ms;
}

.item:nth-child(17) {
  transition-delay: 3200ms;
}
.item:nth-child(18) {
  transition-delay: 3400ms;
}
.item:nth-child(19) {
  transition-delay: 3600ms;
}
.item:nth-child(20) {
  transition-delay: 3800ms;
}
